
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0 auto;
  text-align: center;
}

a {
  color : seashell;
}

li {
  display: inline-block;
  padding: 20px;
  text-decoration: underline;
}

nav {
  text-align: right;
  flex-grow: 1;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
}

header img {
  height: 50px;
  margin-left: 10px;
}

.content {
  padding-top: 69px;
  width: 1200px;
  margin: 0 auto;
}

.intro {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.banner {
  background-color: black;
}

h2,h3,h4 {
  margin: 0px;
  padding: 10px;
}

.products {
  display: flex;
  width: 1000px;
  height: 800px;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding-top: 50px;
}

.top-row {
  display: flex;
}

.bottom-row {
  display: flex;
}

span {
  display: block;
  text-align: center;
  font-weight: bold;
}

p img {
  height: 200px;
  width: 300px;
  margin: 10px 15px;
}

.locations {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  padding-top: 70px;
}

.boxes {
  display: flex;
  justify-content: center;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 300px;
  background-color: black;
  margin: 5px 20px;
  opacity: 1;
}

.contact {
  height: 200px;
}

footer {
  text-align: left;
  margin-left: 20px;
}
